$green-first-color: #f2f9f1;
$green-second-color: #ddeedf;
$green-third-color: #b6cdbd;
$green-fourth-color: #5c715e;

body {
  margin: 0;
  padding: 0;
  background: $green-first-color;
  //background: url('./assets/images/bg.jpg') no-repeat center center fixed;
  //background-size: cover;
  //background-attachment: fixed;
}
